html {
    scroll-behavior: smooth;
}

.contact-list {
    list-style-type: none;
}

/* #profile-img {
    max-height: 300px;
    max-width: 300px;
} */

#project-1-img {
    max-height: 600px;
    max-width: 600px;
}
